<!DOCTYPE html>
<html lang='en'>
    <head>
    <meta charset="utf-8">
    <title>Simple Form</title>
    <style>
    ul li{
     display:block;
    }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
</head>
<body>
<h1>Products Details</h1>
<form id="add">
<ul>
    <li>Name: <%= product.name %><input type="hidden" name="name" id="name" value="<%= product.name %>" /></li>
    <li>Description: <%= product.description %></li>
    <li>Price: <%= product.price %><input type="hidden" name="price" id="price" value="<%= product.price %>" /></li>
    
    <li><button name="addToCart">Add To Cart</button></li>
    <li><a href="/cart">Display Cart</a><span id="msg"></span></li>
</ul>
</form>
</body>
</html>